@charset 'UTF-8';
.young-dropdown-select{
    display: inline-block;
}
.young-dropdown-select .list{
    display: none;
    position: absolute;
    width: 70px;
    background: #FFF;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(159,202,255,.5);
    border-radius: 3px;
    right: 40px;
}
a:hover{
    text-decoration: none;
    color: #000
}
.young-dropdown-select .list a{
    line-height: 40px;
    display: block;
    padding-left: 10px;
}
